<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/settings/profile/changePassword" class="change-password-form">
                <div class="modal-body">

                    <div class="form-outline form-white mb-4">
                        <input type="password" name="password" required
                               class="form-control form-control-lg"
                               placeholder="Current Password"/>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <input type="password" name="newPassword" required
                               class="form-control form-control-lg"
                               placeholder="New Password"/>
                    </div>
                    <div class="form-outline form-white">
                        <input type="password" name="confirmPassword" required
                               class="form-control form-control-lg"
                               placeholder="Confirm Password"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-circle me-1"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-success change-password-btn">
                        <i class="bi bi-check-circle me-1"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>