{% extends 'settings/index.twig' %}

{% block settings_content %}
    <div class="help-content">
        <h3 class="mb-4">Help Center</h3>
        <!-- Contact Support -->
        <div class="mb-4">
            <h4>Contact Support</h4>
            <p>If you need personalized assistance, our support team is here to help. Reach out via email at <strong>support@pennytracker.com</strong>.</p>
        </div>

    </div>
{% endblock %}